<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Journal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="container">
      <nav>
      
        <p class="brand">DAILY JOURNAL</p>
        <ul>
          <li id="home"><a href="/">HOME</a></li>
          <!-- <li id="compose"><a href="/compose">COMPOSE</a></li> -->
        </ul>
      </nav>
    
      </div>
    <div class="main-blog">



<div class="home-link">
<a class="button-home" href="/register">register</a>
<a class="button-home"href="/login">login</a>
</div>


</div>
<div class="footer-padding">
  <div class="footer">
    <p>Made By Bhitthawat Chindawat</p>
  </div>
</div>

</body>
</html>
