<%- include("partials/header"); -%>



<div class="home-link">
<a class="button-home" href="/register">register</a>
<a class="button-home"href="/login">login</a>
</div>


<%- include("partials/footer"); -%>