<%- include("partials/header"); -%>



<form action="/register" method="post">
<input class="input" type="text" name="username" placeholder="username">
<input class="input" type="password" name="password" placeholder="password">
<button class="button-form" type="submit">register</button>
</form>



<%- include("partials/footer"); -%>